.App {
    text-align: center;
    margin: 0 auto;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    margin: 20px;
}

.App-intro {
    font-size: large;
}

.marker {
    background-image: url('./prison.png');
    background-size: cover;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
}

.searchDrawer {
    background-color: #303841;
    padding-left: 40px;
}

.login {
    text-align: center;
}

h3 {
    text-align: left;
    margin-left: 2.25rem;
    margin-bottom: 0;
}

#logo {
    position: absolute;
    left: 10px;
    bottom: 10px;
    z-index: 1000;
}

.selections {
    transition: opacity .5s ease-out;
    opacity: 0;
}

.visible {
    transition: opacity .75s ease-in;
    opacity: 1;
}

.prison_name {
    position: absolute;
    left: 250px;
    bottom: 20px;
    z-index: 1000;
    font-size: 2rem;
    color: #FEC009;
    font-family: 'Share';
}

@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');
@import url('https://fonts.googleapis.com/css?family=Share');
@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}